* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* background-color: burlywood; */
  height: 100vh;
}
.screen {
  max-width: 600px;
  width: 100%;
  max-height: 1000px;
  height: 100%;
}
.home {
  box-sizing: border-box;
  background-color: aqua;
  height: 100%;
  border: 2px solid black;
  border-radius: 20px;
  overflow: auto;
}

.home button {
  background-color: gray;
  color: white;
  border: 2px solid black; /* Green */
  border-radius: 12px;
  width: 50%;
  height: 40px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}
.home button:hover {
  background-color: rgb(94, 92, 92);
}
.home button:active {
  background-color: rgb(63, 61, 61);
  transform: scale(1.2);
}

.home h1 {
  padding: 10px;
}
.home h4 {
  padding: 10px;
}

.cards-contaner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* -ms-flex-item-align: start; */
}

.scene {
  margin: 10px;
  /* flex-direction: row; */
  width: 100px;
  height: 100px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
.center {
  display: flex;
  justify-content: center;
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front img {
  width: 100px;
  border-radius: 20px;
}

.card__face--back {
  transform: rotateY(180deg);
}
.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.scale {
  background-color: green;
}

@media screen and (max-width: 768px) {
  .screen {
    height: 90%;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.model {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.822);
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.model-title {
  color: wheat;
}
